.container{width:940px;margin:0 auto 0 auto;}
.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12{display:inline;position:relative;float:left;margin-right:20px;}
.span-1{width:60px;}
.span-2{width:140px;}
.span-3{width:220px;}
.span-4{width:300px;}
.span-5{width:380px;}
.span-6{width:460px;}
.span-7{width:540px;}
.span-8{width:620px;}
.span-9{width:700px;}
.span-10{width:780px;}
.span-11{width:860px;}
.span-12{width:940px;margin-right:0;}
.last{margin-right:0 !important;}
.append-1{padding-right:80px;}
.append-2{padding-right:160px;}
.append-3{padding-right:240px;}
.append-4{padding-right:320px;}
.append-5{padding-right:400px;}
.append-6{padding-right:480px;}
.append-7{padding-right:560px;}
.append-8{padding-right:640px;}
.append-9{padding-right:720px;}
.append-10{padding-right:800px;}
.append-11{padding-right:880px;}
.prepend-1{padding-left:80px;}
.prepend-2{padding-left:160px;}
.prepend-3{padding-left:240px;}
.prepend-4{padding-left:320px;}
.prepend-5{padding-left:400px;}
.prepend-6{padding-left:480px;}
.prepend-7{padding-left:560px;}
.prepend-8{padding-left:640px;}
.prepend-9{padding-left:720px;}
.prepend-10{padding-left:800px;}
.prepend-11{padding-left:880px;}
.push-1{left:80px;}
.push-2{left:160px;}
.push-3{left:240px;}
.push-4{left:320px;}
.push-5{left:400px;}
.push-6{left:480px;}
.push-7{left:560px;}
.push-8{left:640px;}
.push-9{left:720px;}
.push-10{left:800px;}
.push-11{left:880px;}
.pull-1{left:-80px;}
.pull-2{left:-160px;}
.pull-3{left:-240px;}
.pull-4{left:-320px;}
.pull-5{left:-400px;}
.pull-6{left:-480px;}
.pull-7{left:-560px;}
.pull-8{left:-640px;}
.pull-9{left:-720px;}
.pull-10{left:-800px;}
.pull-11{left:-880px;}
.border{padding-right:9px;margin-right:10px;border-right:1px solid #ddd;}
.container img{max-width:100%;}
.container:before,.container:after{content:"\0020";display:block;height:0;overflow:hidden;}
.container:after{clear:both;}
.container{zoom:1;}
.clear{clear:both;}
